@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "pretendard";
  }
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img,video,svg{
    width: 100%;
    height: 100%;
}
button{
    border: none;
    background-color: initial;
}
a{
    text-decoration: none;
}
input::placeholder{
  font-family: "pretendard";
}

#main{
  position: relative;
  padding: 130px 210px 50px 450px;
  overflow: hidden;
}